.nav-item:hover {
  color: #0b519c;
}

.activeNav {
  color: #464747 !important;
  font-weight: 900 !important;
  font-family: Montserrat !important;
  background-color: #f5f5f5 !important;
  /* display: none; */
}

.logo {
  color: #0b519c !important;
  font-family: Montserrat !important;
  font-size: 1.6rem;
}

.nav-item {
  font-family: Montserrat !important;
}

.nav-item {
  font-family: Montserrat !important;
}

.logoStyle {
  border: solid 2px #0b519c;
  background-color: #0b519c;
  border-radius: 16px;
  padding: 8px;
  color: white;
}
